*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

/*Header*/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

header .nav-1{
    background-color: #f24;
}
header .nav-1 ul{
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

header .nav-1 ul a{
    color: #fff;
    padding: 8px;
    text-decoration: none;

}
header .nav-1 ul a:hover{
    text-decoration: underline;
}

header .nav-2{
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    align-items: center;
    padding-top: 20px;
    background-color: #fff;
    background-size: cover;
    

}

header .nav-2 ul{
    display: flex;
    list-style: none;
   position: relative;
   

}

@media(max-width:767px){
    header  .nav-2 ul{
        display: block;
        background-color:#fff;
        position: absolute;
        width: 767px;
        height: fit-content;
        top: 50;
        right: 0;
        z-index: 99;
       margin-top: 120px;
       text-align: center;
       
    }

    .nav-2 .fab{
        color: #f24;
        padding: 20px;
        text-align: right;
        display: block;
    }
    
}
header .nav-2 ul li{
    padding: 0 20px 0;
    font-size: 1.5rem;
}

header .nav-2 ul li a{
    color: rgb(24, 33, 34);
    padding: 8px;
    text-decoration: none;
}

header .nav-2 ul li a::after{
    content: "";
    width:0;
    height: 2px;
    background-color: #f24;
    display: block;
    margin-left: 8px;
    transition: 0.5s;

}

header .nav-2 ul li a:hover::after{
 width: 80%;
}

header .nav-2 img{
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
header .nav-2 img:hover{
    transform: scale(1.2);
}

.nav-2 .dropdown{
    position: relative;
    display: inline-block;
  
}

.nav-2 .sub-menu-1{
    position: absolute;
    z-index: 99;
   
    
}

.nav-2 .sub-menu-1 ul{
    display: none;
    background-color: #f24;
    border-radius: 8px;
    margin-top: -10px;
    position: absolute;
   
}

.nav-2 .sub-menu-1 ul li a{
    color: #fff;
}

.nav-2 .sub-menu-1 ul li:hover{
    transform: scale(1.1);
}

.dropdown:hover .sub-menu-1 ul{
    display: block;
   
}

.dropdown .fas{
    font-size: 1rem;
    color: #f24;
}

.dropdown:hover .fas{
    transform: rotate(180deg);
}

.nav-2 .fab, .nav-2 .fas{
    display: none;
}





.below-header-1{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url(/images/treatement3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 60px;
}

.below-header-text{
    padding-top: 250px;
    padding-left: 70px;
}



.below-header-text h5{
    font-size: 1.25rem;
    color: #fff;
    
}





.below-header-text h1{
    font-size: 5.2rem;
    color: #fff;
    padding-bottom: 20px;
    
}

@media(max-width:767px){
    .below-header-text h1{
        font-size: 2.2rem;
    }
}

.banner-btn{
    background-color: #f24;
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.banner-btn:hover{
 background-color: #fff;
}


.row{
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px){
    .row{
        flex-direction: column;
    }
}

.below-header-2 {
    width: 80%;
    margin: auto;
}

.below-header-2 h2{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.app-mobile-col{
    flex-basis: 31%;

}

.below-header-2 p{
    margin-bottom: 25px;
}